/* font-family: Raleway;
font-family: Roboto;
 */

ul {
  margin: 0;
  padding-left: 0px;
}

body {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #212121;
}

/* Шапка */

header {
  border-bottom: solid 1px #ececec;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
  display: inline-block;
  margin-right: 93px;
}

.logo-header {
  color: black;
}
/* Навигация */

.container-nav {
  display: flex;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  align-items: center;
  justify-content: center;
}

ul {
  list-style-type: none;
}

.site-nav {
  display: flex;
  align-items: center;
}

.link {
  display: flex;
}

.nav-link {
  position: relative;
  display: block;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -33px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.links {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.links:last-child {
  margin-right: 0px;
}

.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
}

.auth {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}

.nav-contact {
  display: flex;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  transition-property: color fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contact:hover,
.nav-contact:focus {
  color: #2196f3;
  fill: #2196f3;
}

.icon-auth {
  margin-right: 10px;
  fill: currentColor;
}

.auth-contact {
  margin-right: 50px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.auth-contact:last-child {
  margin-right: 0px;
}

/* Герой */
.hero {
  outline: 1px solid #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  min-height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  width: 696px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 42px;
  padding-left: 42px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.hero button {
  font-family: Roboto;
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  border-radius: 6px;
  display: block;
  text-align: center;
  padding: 10px 32px 10px 32px;
  margin-left: auto;
  margin-right: auto;
}

/* Фильтр */

.content-list {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.filter button {
  font-family: Roboto;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter button:hover,
.filter button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.filter-button + .filter-button {
  margin-left: 8px;
}

/* Main content */

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.projects-container {
  display: flex;
  flex-direction: column;
  flex-basis: 370px;
  justify-content: flex-start;
  text-align: start;
  margin-bottom: 30px;
  margin-right: 30px;
  outline: 1px solid #eeeeee;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-container:hover,
.projects-container:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-container:hover .project-overlay {
  opacity: 1;
  transform: translateY(0);
  transition-property: transform, opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-container:nth-child(3n) {
  margin-right: 0;
}

.projects-container:nth-child(n + 7) {
  margin-bottom: 0;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  width: 370px;
  padding: 63px 24px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  opacity: 0;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.project-text {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}

.project-name {
  font-size: 18px;
  line-height: 2;
  margin-top: 0px;
  margin-bottom: 0px;
}

.project-type {
  color: #757575;
  font-size: 16px;
  line-height: 1.88;
  margin-top: 4px;
  margin-bottom: 0px;
}

/* Преимущества */

.adv {
  padding-top: 94px;
  padding-bottom: 94px;
}

.advantages {
  display: flex;
  justify-content: center;
}

.advantage-item::before {
  content: '';
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  padding-right: 0;
}

.icon-sat::before {
  background-image: url(../images/svg/sat-plate.svg);
  background-size: 66px 70px;
}

.icon-clock::before {
  background-image: url(../images/svg/time.svg);
  background-size: 68px 70px;
}

.icon-comp::before {
  background-image: url(../images/svg/comp.svg);
  background-size: 70px 54px;
}

.icon-cosmo::before {
  background-image: url(../images/svg/cosmo.svg);
  background-size: 70px 70px;
}

.advantage-item {
  display: block;
  text-align: left;
  width: 270px;
  padding-right: 0px;
}

.advantage-item + .advantage-item {
  margin-left: 30px;
  margin-right: 0px;
}

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 0px;
}
.advantages-text {
  line-height: 1.71;
  color: #757575;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 15px;
}

/* Примеры */

.example {
  padding-bottom: 94px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 50px;
}

.example-img {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.img-item + .img-item {
  margin-left: 30px;
}

.img-item {
  position: relative;
}

.image {
  display: block;
}

.example-text {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
}

/* Команда */

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.members {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f5f4fa;
}

.team-card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  flex-basis: 270px;
  text-align: center;
  margin-right: 30px;
  padding-bottom: 0px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card:last-child {
  margin-right: 0px;
}

.card-discription {
  padding-top: 30px;
  margin-bottom: 16px;
}

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.proffesion {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}

.member-links {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}

/* ==Social Icons== */

.team-links-list {
  display: flex;
  justify-content: center;
  align-content: center;
}

.link-social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  margin-left: 10px;
  border-radius: 50%;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social:hover,
.link-social:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.first {
  margin-left: 0px;
}

.icon-inst {
  object-position: center;
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.icon-twit {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.icon-face {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.icon-in {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* ===Clients Icons== */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 170px;
  border: 1px #afb1b8 solid;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-number:not(:first-child) {
  margin-left: 30px;
}

.clients-link:hover,
.clients-link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.icon-yaco {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.icon-tagline {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.icon-company3 {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.icon-foster {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.icon-brand {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.icon-company6 {
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* Подвал */

footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-foot {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.logo-psn {
  display: block;
  margin-right: 70px;
}

.logo-f {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
  text-decoration: none;
}

.logo-footer {
  color: white;
}

.foot-psn {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-right: 15px;
}

.foot-item {
  margin-bottom: 9px;
}

.foot-item:last-child {
  margin-bottom: 0px;
}

.foot-address {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
}

.foot-contact {
  text-decoration: none;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.foot-contact:hover,
.foot-contact:focus {
  color: #2196f3;
}

/*  ======Footer social links==== */

.foot-links-psn {
  margin-right: 93px;
}

.foot-links-titel {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.foot-links-list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.link-social-foot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  margin-left: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-foot:focus,
.link-social-foot:hover {
  background-color: #2196f3;
}

/*=======Subscribe form ======*/

.subscribe {
  display: flex;
  align-items: center;
}

.form-input-subscribe {
  width: 358px;
  padding: 15px 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.form-input-subscribe:focus {
  box-shadow: (0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-button-subscribe {
  position: relative;
  display: flex;
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-left: 29px;
  padding-right: 62px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  align-items: center;
  text-align: center;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form-button-subscribe::after {
  content: '';
  position: absolute;
  right: 28px;
  width: 24px;
  height: 24px;
  background-image: url(../images/svg/send.svg);
  background-repeat: no-repeat;
}

/* =======MODAL======= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: initial;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: auto;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #ffffff;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 0px;
  cursor: pointer;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close:focus,
.close:hover {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* =======MODAL FORM FIELD======= */

.order-service-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 448px;
}

.form-field-titel {
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}

.form-field:nth-child(-n + 4) {
  position: relative;
  width: 100%;
  margin-bottom: 10px;
}

.form-label {
  display: block;
  width: 100%;
  margin-bottom: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: #757575;
}

.form-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input {
  width: 448px;
  height: 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;

  cursor: pointer;
  outline: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .form-icon {
  fill: #2196f3;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  border: #2196f3 1px solid;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-comment {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.comment {
  resize: none;
  width: 100%;
  padding: 12px 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;
  outline: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.comment:focus {
  border: #2196f3 1px solid;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field-agree {
  position: relative;
  width: 100%;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.agreement {
  display: flex;
  align-items: center;
  margin-left: 36px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  text-align: center;
  cursor: pointer;
}

.checkbox-custom {
  display: block;
  position: absolute;
  left: 13px;
  bottom: 25%;
  width: 16px;
  height: 16px;
  background-color: #ffffff;
  border: 2px solid #212121;
  border-radius: 2px;
}

.checkbox:checked + .checkbox-custom {
  background-color: #2196f3;
  background-image: url(../images/svg/vector.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-origin: border-box;
  border-color: #2196f3;
}

.agree-link {
  margin-left: 5px;
  color: #2196f3;
  text-decoration: underline;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
